{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
        <title>Where is the Book?</title>
        <style>
            *{
                margin: 0;
                padding: 0;
            }
            body{
                font-family: 'Nanum Myeongjo', serif;
            }
        </style>
    </head>
    <body>
    <div id="wrap" class="container-fluid col-xs-12">
        <div id="title" class="row">
            <h2>Where is the Book</h2>
        </div>
        <div id="main" class="row">
            <form action="/select/" method="post" class="form-inline">
                <div class="form-group">
                    {% csrf_token %}
                    <label class="control-label">재고를 검색할 책의 제목을 입력하세요.</label><br>
                    <input type="search" name="title" id="search" class="form-control" required>
                    <button type="submit" class="btn">검색</button>
                </div>
            </form>
        </div>
        <div id="notice" class="row">
            <br>
        <h4>참고사항</h4>
        개발 진행 중입니다. 아직 CSS는 입히지 않았습니다.<br>
        건의 사항은 neungyoung.kim@gmail.com으로<br>보내주시면 감사하겠습니다.
        </div>
    </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</html>