<html>
    <head>
        <title>검색결과</title>
        <style>
        #wrap{
            width: 100%;
        }
        ul{
            list-style-type: none;
            padding: 5px 40px;
        }
        </style>
    </head>
    <body>
    <div id="wrap">
        {% for book in b %}
        <ul>
            <li><h3>{{ book.title }}</h3></li>
            <li>{{ book.author }}</li>
            <li>{{ book.publisher }}</li>
            <li>{{ book.price }}원</li>
            <li><img src={{ book.image }}></li>
            <form action="/result/{{ book.isbn }}/" method="post">
                {% csrf_token %}
                <!-- <input type="hidden" name="isbn" value="{{ book.isbn }}"> -->
                <input type="submit" value="재고보기">
            </form>
        </ul>
        {% endfor %}
    </div>
    </body>
</html>