{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <title>검색결과</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            font-family: 'Nanum Myeongjo', serif;
            background-color: #f5f5f5;
        }
        ul{
            list-style-type: none;
        }
        
    </style>
</head>
<body>
<div class="container-fluid">
    <div id="wrap" class="container">
        <div id="title">
            찾으시는 책이 없으면 작가를 같이 검색해보세요.<br>
            <h3>'{{ t }}'에 대한 검색결과:</h3>
        </div>
        <div id="books" class="row">
            {% for book in b %}
            <div class="book col-xs-12">
                <div class="bookImg"><img src={{ book.image }}></div>
                <div class="bookInfo">
                    <div class="bookTitle"><strong>{{ book.title }}</strong></div>
                    <table>
                        <colgroup>
                            <col width=45px>
                            <col>
                        </colgroup>
                        <tr>
                            <td>작  가</td>
                            <td>:  {{ book.author }}</td>
                        </tr>
                        <tr>
                            <td>출판사</td>
                            <td>:  {{ book.publisher }}</td>
                        </tr>
                        <tr>
                            <td>가  격</td>
                            <td>:  {{ book.price }}원</td>
                        </tr>
                    </table>
                    <form action="/result/{{ book.isbn }}/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm stock">재고 검색</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</html>