#wrap{
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#search{
    display: inline;
    width: auto;
    text-align: center;
    vertical-align: middle;
}
#notice{
    color:gray;
    font-size: 12px;
}
label{
    padding:5px;
}
button[type=submit]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}