.title{
    position: relative;
    color: gray;
    width: 100%;
}
.in_wrap{
    float: left;
    margin-bottom: 20px;
}
.stock_wrap{
    padding: 10px;
}
.stock_table{
    width:100%;
    border-collapse: separate;
    border-spacing: 5px 0;
}
.shadow{
    background-color: white;
    box-shadow: 1px 1px 5px rgb(0,0,0,0.1);
}

#main_title{
    width: 100%;
    margin-top: 40px;
}
/* 표 스타일 */
table{
    text-align: center;
    font-size: 10px;
}
col{
    width: 12.5%;
}
th{
    height: 25px;
    cursor: pointer;
    border-bottom: 1px solid #b6b6b6da;
}
td{
    height: 25px;
    color: gray;
}
/* 지도 스타일 */
#map_wrap{
    height:420px;
}
#map{
    height:100%;
}
/* 마커 인포윈도우 */
.info_wrap{
    width: 200px;
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 10px;
}
.info_title {
    padding: 3px 0;
    margin: 0 0 5px 0;
    height: 30px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: bold;
}
.info_content{
    color: gray;
}