@media all and (max-width:719px){
    body{
        min-width: 300px;
    }
    #title{
        position: relative;
        margin-top: 30px;
        color: gray;
    }
    #title>h3{
        margin-top: 10px;
    }
    #books{
        width: 90%;
    }
    .book{
        display: flex;
        background-color: white;
        margin: 15px;
        padding: 10px;
        box-shadow: 1px 1px 5px rgb(0,0,0,0.1);
    }
    .book>div{
        margin: 0 10px;
    }
    .bookImg{
        display: flex;
        min-width: 90px;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .bookImg>img{
        position: relative;
        /* top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); */
    }
    .bookInfo{
        position: relative;
        top: 0;
        height: auto;
    }
    .bookTitle{

        padding-top: 10px;
        word-break: break-all;
    }
    .bookInfo>table{
        width: 100%;
        height:70px;
        word-break: break-all;
        font-size: 12px;
        padding: 10px 0;
    }
    td:first-child{
        text-align: justify;
    }
    .bookInfo>form{
        text-align: center;
        padding: 10px;
    }
}
